<div class="col-lg-2">
	<ul class="nav flex-column">
    	<li class="nav-item">
        	<h4 class="ml-3">Entites</h4>
        </li>
    </ul>
	<ul class="nav flex-column">
 		<li class="nav-item">
   			<a class="nav-link active" href="index" id="employee">Employee</a>
 		</li>
 		<li class="nav-item">
   			<a class="nav-link" href="department" id="department">Department</a>
 		</li>
 		<li class="nav-item">
   			<a class="nav-link" href="project.jsp" id="project">Project</a>
 		</li>
 		<li class="nav-item">
   			<a class="nav-link" href="search.jsp">Search</a>
 		</li>
 		<li class="nav-item">
   			<a class="nav-link" href="report">Report</a>
	 	</li>
 		<li class="nav-item">
   			<a class="nav-link" href="result">Result</a>
 		</li>
	</ul>

</div>